.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}
ul {
	margin:0;
	display: inline-block;
    text-align:left;
}
.centerDiv {
	display: inline-block;
	text-align: left;
	margin-bottom: 10px;
	padding-top: '20px'

}
.item {
	padding-top: '20px'
}